<section class="footer-area" style="padding-top:30px;padding-bottom:0px;"></section>
    <div class="footer-top">
        <div class="container">
            <div class="row footer-widget-wrap d-flex justify-content-between">
                <div class="mt-4 col-12 col-md-5 col-lg-4 footer-item footer-item1 text-start">
                    <h3 class="widget__title">Quick Links</h3>
                    <ul class="footer-links text-start">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="events.php">Events</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="cuisine.html">Cuisine</a></li>
                        
                    </ul>
                </div><!-- end footer-item -->
                <div class="mt-4 col-12 col-md-5 col-lg-4 footer-item footer-item1 text-start">
                    <h3 class="widget__title">Keep Connected</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <div class="footer-socials d-flex align-items-center">
                            <img src="images/facebook.png" alt="" class="footer-img">
                            <div class="footer-connected-p d-flex align-items-center">
                                <p>Like us on Facebook</p>
                            </div>
                        </div>
                        <div class="footer-socials d-flex align-items-center">
                            <img src="images/instagram.png" alt="" class="footer-img">
                            <div class="footer-connected-p d-flex align-items-center">
                                <p>Follow us on Instagram</p>
                            </div>
                        </div>
                        <div class="footer-socials d-flex align-items-center">
                            <img src="images/twitter.png" alt="" class="footer-img">
                            <div class="footer-connected-p d-flex align-items-center">
                                <p>Find us on X</p>
                            </div>
                        </div>
                    </div>
                </div><!-- end footer-item -->
                
                
                <div class="mt-4 col-12 col-lg-4 footer-item footer-item2 flex-end">
                    <h3 class="widget__title">Contact Us</h3>
                    <form action="contactus.php" method="post" class="d-flex flex-column justify-content-end align-items-center">
                        <input type="text" class="form-control mb-3 p-2" id="name" name="name" placeholder="Name" required>
                        <input type="email" class="form-control mb-3 p-2" id="email" name="email" placeholder="Email" required>
                        <textarea class="form-control mb-3 p-2" id="message" name="message" rows="3" placeholder="Message" required></textarea>
                        <div class="footer-btn-submit d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                </div><!-- end footer-item -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->
    <hr>
    <div class="footer-copyright mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-desc  d-flex justify-content-center align-items-center">
                        <p>© 2024 | <span>Harshit & Indrajit</span></p>
                    </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-copyright -->
</section><!-- end footer-area -->